backend/todo/__pycache__/serializers.cpython-39.pyc
backend/backend/__pycache__/urls.cpython-39.pyc
backend/todo/__pycache__/models.cpython-39.pyc
backend/backend/__pycache__/settings.cpython-39.pyc
backend/backend/__pycache__/settings.cpython-39.pyc
backend/backend/__pycache__/urls.cpython-39.pyc
